<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{messages.time_tracker_ru_RU}">Timetracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../static/css/sd.css" th:href="@{/css/sd.css}"
          rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="fragments/nav :: navigation"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/nav :: leftSideNavMenu('timetracker')"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading" th:text="#{messages.time_tracker_tbhead_1_ru_RU}">Time tracker records</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th >ID</th>
                            <th th:text="#{messages.time_tracker_tbhead_1_name_ru_RU}">Name</th>
                            <th th:text="#{messages.time_tracker_tbhead_1_created_ru_RU}">Created</th>
                            <th th:text="#{messages.time_tracker_tbhead_1_duration_ru_RU}">Duration</th>
                            <th th:text="#{messages.time_tracker_tbhead_1_status_ru_RU}">Status</th>
                            <th th:text="#{messages.time_tracker_tbhead_1_oper_ru_RU}">Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="timeRecord : ${currentResults}">
                            <td th:text="${timeRecord.getId()}">.</td>
                            <td th:text="${timeRecord.getName()}">.</td>
                            <td th:text="${timeRecord.getCreated()!=null ?
                                #dates.format(timeRecord.getCreated(), datemask):''}">.</td>
                            <td th:text="${timeRecord.getDuration()!=null ?
                                #dates.format(timeRecord.getDuration(), 'HH:mm:ss'):''}">.</td>
                            <td th:text="${timeRecord.getStatus()}">.</td>
                            <td>
                                <a href="#" th:text="#{messages.common_start_ru_RU}" th:href="@{'/timetracker/start/'+${timeRecord.getId()}}">[Start] </a>
                                <a href="#" th:text="#{messages.common_pause_ru_RU}" th:href="@{'/timetracker/pause/'+${timeRecord.getId()}}">[Pause] </a>
                                <a href="#" th:text="#{messages.common_end_ru_RU}" th:href="@{'/timetracker/end/'+${timeRecord.getId()}}">[End] </a>
                                <a href="#" th:text="#{messages.common_delete_ru_RU}" th:href="@{'/timetracker/delete/'+${timeRecord.getId()}}">[Delete]</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:include="fragments/pagination :: tablePagination"/>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><span th:text="#{messages.time_tracker_tbhead_2_ru_RU}">New time tracker record</span></div>
                <div class="panel-body">
                    <form action="#" th:action="@{/newtimerecord}" th:object="${newtimerecord}" method="post"
                          class="form-inline" role="form">
                        <input type="text" id="name" name="name" value="" th:field="*{name}" required="required"
                               class="input-small" placeholder="Name"
                               th:placeholder="#{messages.time_tracker_name_ru_RU}"/>
                        <input type="text" id="description" name="description" value="" th:field="*{description}"
                               class="input-small" placeholder="Description"
                               th:placeholder="#{messages.time_tracker_desc_ru_RU}"/>
                        <button type="submit" class="btn" th:text="#{messages.commom_submit_ru_RU}">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
