<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>navigation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="navigation">
    <!--Navigation Bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SDLite</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <a class="btn btn-default navbar-btn" href="/newticket" role="button"
                       th:text="#{messages.commom_newticket_ru_RU}">New Ticket</a>
                    <form action="/search" method="post" class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search"
                                   th:placeholder="#{messages.commom_search_ru_RU}"/>
                        </div>
                        <button type="submit" class="btn btn-default" th:text="#{messages.commom_submit_ru_RU}">Submit
                        </button>
                    </form>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                           th:text="#{messages.commom_menu_ru_RU}">Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/users" th:text="#{messages.commom_users_ru_RU}">Users</a></li>
                            <li><a href="/config" th:text="#{messages.commom_config_ru_RU}">Configuration</a></li>
                        </ul>
                    </li>

                    <!--ul class="nav navbar-nav"-->
                    <li><a href="#"><span th:text="${currentUser}">Current User</span></a></li>
                    <li><a href="/logout" th:text="#{messages.commom_logout_ru_RU}">Log Out</a></li>
                    <!--/ul-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div th:fragment="leftSideNavMenu(activeTab)">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li th:class="${activeTab == 'home'} ? 'active' : null"><a href="/"
                th:text="#{messages.home_ru_RU}">Home</a></li>
            <li th:class="${activeTab == 'tickets'} ? 'active' : null"><a href="/tickets"
                th:text="#{messages.tickets_ru_RU}">Tickets</a>
            </li>
            <li th:class="${activeTab == 'inventory'} ? 'active' : null"><a href="/inventory"
                th:text="#{messages.inventory_ru_RU}">Inventory</a>
            </li>
            <li th:class="${activeTab == 'reports'} ? 'active' : null"><a href="#"
                th:text="#{messages.reports_ru_RU}">Reports</a>
            </li>
            <li th:class="${activeTab == 'timetracker'} ? 'active' : null"><a href="/timetracker"
                th:text="#{messages.time_tracker_ru_RU}">Time Tracker</a></li>
        </ul>
    </div>
</div>


</body>
</html>