<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../static/css/sd.css" th:href="@{/css/sd.css}"
          rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="layout :: navigation"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="layout :: leftSideNavMenu('inventory')"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">Inventory</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${currentResults}">
                            <td th:text="${item.getId()}">.</td>
                            <td><a href="inventory.html" th:href="@{'/inventory/'+${item.getId()}}"><span
                                    th:text="${item.getName()}">template file</span></a>
                            </td>
                            <td th:text="${#dates.format(item.getCreated(), datemask)}">item.created</td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:include="layout :: tablePagination"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
