<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tickets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="layout :: navigation"/>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Created</th>
            <!--th>Priority</th-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${currentResults}">
            <td th:text="${ticket.getId()}">.</td>
            <td><a href="ticket.html" th:href="@{'/ticket/'+${ticket.getId()}}"><span th:text="${ticket.getName()}">template file</span></a>
            </td>
            <td th:text="${#dates.format(ticket.getCreated(),'dd.MM.yyyy HH:mm')}">ticket.created</td>
            <!--td th:text="${ticket.priority}">ticket.priority</td-->
        </tr>
        </tbody>
    </table>
    <div th:include="layout :: tablePagination"/>
</div>
</body>
</html>
