<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../static/css/sd.css" th:href="@{/css/sd.css}"
          rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="layout :: navigation"/>

<div class="container-fluid">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>e-mail</th>
            <th>Role</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><a href="user.html" th:href="@{'/user/'+${user.getId()}}"><span th:text="${user.getName()}">template file</span></a>
            </td>
            <td th:text="${user.getEmail()}">user.created</td>
            <td th:text="${user.getRole()}">user.created</td>
            <td th:text="${#dates.format(user.getCreated(), datemask)}">user.created</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
